In [36]:
a = 'C,B,A'
c = a.split(',')
b = ["F","G","H"]
d = c + b
d[0] = "K"
e = d.pop(2)
print(e)
del d[1:4]
d.append("U")
print(d)

A
['K', 'H', 'U']

In [25]:
a = input("使用者輸入一個八位數字")
print(a[4])

使用者輸入一個八位數字12345678
5

In [31]:
a = 'My ID is B1202017'
c = a.split(' ')
print(len(c))
print(len(c[3]))

4
8

In [40]:
a = 'I`m a student.'
b = list(a)
print(b[2])

m